#logo {
    fill: #0a6125;
    stroke: #000000 !important;
    stroke-width: 2pt;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    animation: logo1 4s linear infinite;
}

@keyframes logo1 {
    0% {
        stroke-dashoffset: 1200;
        fill-opacity: 0;
    }
    70% {
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
        stroke-width: 0;
    }
}
